.features {
    padding: 120px 0px;
}

.features-container {
    margin: 0 auto;
}

.features-list {
    display: flex;
    column-gap: 24px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}

.features-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}